body {
  margin: 0;
  font-family: Calibri, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.board-background {
  background-image: url("N3PSPkC.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 2100px;
  height: 2700px;
}

.board-grid {
  position: relative;
  top: 612px;
  left: 67px;
  width: 1980px;
}

.board .numberSquare {
  background: none;
  border: 2px none;
  width: 50px;
  height: 52px;
  line-height: 50px;
  margin: 3px;
  font-size: 50px;
  text-align: center;
  font-family: Calibri, sans-serif;
  color: #3d2525;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
